.leftfilter{
    width: 30%;
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    flex-direction: column;
    row-gap: 30px;
}
.left-filter-item-wrapper{
    width: 100%;
    flex-direction: column;
    row-gap: 15px;
}
.leftfilter-media{
    display: none;
}
.leftfilter-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.leftfilter-wrapper h3{
    font-family: 'Hmedium';
    font-weight: 500;
    font-size: 25px;
    line-height: 23px;
    color: #333333;
}
.leftfilter-item{
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    width: 100%;
}
/* .leftfilter-item input{
    width: 100%;
    height: 53px;
    background: #fff;
    color: #B1B5C4;
    border: 1px solid #E7ECF3;
    border-radius: 10px;
    padding: 10px;
    font-family: 'Hregular';
    font-weight: 400;
    font-size: 16px;
    line-height: 14px; 
} */
.leftfilter-item-serch{
    display: flex;
    position: relative;
}
.leftfilter-item input{
    font-family: 'Hregular';
    font-weight: 400;
    font-size: 20px;
    line-height: 18px;
    padding: 10px;
    border: 1px solid #E7ECF3;
    border-radius: 10px;
    width: 100%;
}
.leftfilter-item input::placeholder{
    font-family: 'Hregular';
    font-weight: 400;
    font-size: 20px;
    line-height: 18px;
    color: #B1B5C4;
}
.search-icon{
    position: absolute;
    top: 30%;
    right: 22px;
    width: 22px;
    color: #B1B5C4;
    height: 22px;
}
.filter-phone{
    display: none;
}
.filter-desktop{
    display: flex;
}

@media (max-width:1025px) {
    .leftfilter{
        width: 25%;
    }
}
@media(max-width:769px){
    .leftfilter{
        width: 40%;
    }
}
@media (max-width:426px) {
    .filter-desktop{
        display: none;
    }
    .left-filter-item-wrapper{
        width: 100%;
        position: fixed;
        left: -100%;
        top: 0;
    }
    .filter-phone{
        display: flex;
        left: -100%;
        background: #fff;
        width: 100%;
        height: 100%;
        z-index: 999;
    }
    .filter-phone-active{
        left: 0;
    }
    .leftfilter-media-open{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .leftfilter-media-open{
        width: 100%;
        padding: 0px 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 67px;
        border-bottom: 1px solid #E7ECF3;
    }
    .leftfilter-media-open h5{
        margin: 0;
        font-family: 'Hmedium';
        font-weight: 500;   
        font-size: 20px;
        line-height: 18px;
        color: #222529;
    }
    .leftfilter-media-open h5:nth-of-type(2){
        margin: 0;
        font-family: 'Hregular';
        font-weight: 400;   
        font-size: 18px;
        line-height: 16px;
        color: #c81c1c;
    }
    .leftfilter-media-open svg{
        width: 30px;
        height: 30px;
    }
    .leftfilter{
        width: 100%;
        padding: 0;
        margin-bottom: 30px;
    }
    .leftfilter-media{
        width: 100%;
        padding: 0px 10px;
        display: flex;
        border-radius: 15px;
        align-items: center;
        justify-content: space-between;
        height: 67px;
        border: 1px solid #E7ECF3;
    }
    .leftfilter-media h5{
        margin: 0;
        font-family: 'Hmedium';
        font-weight: 500;   
        font-size: 18px;
        line-height: 16px;
        color: #222529;
    }
    .leftfilter-media svg{
        width: 30px;
        height: 30px;
    }
    .leftfilter-wrapper{
        padding: 0px 30px;
    }
    .left-filter-item-wrapper{
        row-gap: 50px;
    }
}